/** month.css */
table {
  font-family: Arial, sans-serif;
}

thead th {
  background-color: #ccc;
  border: 1px solid #000;
  font-weight: bold;
  text-align: center;
}

tbody td {
  border: 1px solid #000;
  padding: 5px;
  text-align: center;
}

.red {
  color: red;
}

.bold {
  font-weight: bold;
  width: 80px;
}

.table-wide {
  width: 100%;
}

.calendar {
  margin: auto;
  width: 50%;
}

.calendar-left-small {
  font-size: 70%;
  text-align: left;
}
.month-buttons {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.month-button-left {
  float: left;
}

.month-button-right {
  float: right;
}
