.crazy{
    border: 5px outset rgb(255, 0, 98);
    background-color: rgb(230, 201, 173);    
    text-align: center;
}

span.funky{
    display: inline-block;
    margin: 0;
    font-weight: bold;
    font-size: 2em;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-image: linear-gradient(to left, Black 20%, Red,  Purple, Blue);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
